<%- include ("../partials/header"); -%>

<header class="jumbotron">
        <div class="container">
            <h1 id="asd">Welcome to Eventer</h1>
            <p><a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Venue</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                       <input type="text" name="search" placeholder="Venue search..." class="form-control">
                       <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
</header>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body">
                        <h4 class="card-title"> <%=campground.name%></h4>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Info</a> 
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include ('../partials/footer'); -%>

